.filter-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #E45A51;
    z-index: 9;
    position: fixed;
    top: 95px;
    background-color: white;
    width: 100vw;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-end;

}

.containerAll{
    margin-top: 360px;

}
.filterSearch{
    width: 73vw;
    background-color: whitesmoke;
    border-radius: 6px;
    font-size: 14px;
    height: 36px;
    margin-left: 54px;

    position: fixed;
    margin-top: -43px;
    z-index: 99;
    border-style:inherit;
    border-color: rgb(21, 128, 124);

    border-width: 3px;
}

.filterBox{
    position: fixed;
    z-index: 99;
    background-color: white; 
    height: 100px;
    width: 100vw;
    margin-top: -70px;
    padding-top: 32px;
}
   
.filterSearch input{
    font-size: 14px;
}


.search-container{
    width: 100vw;;

}


.filterIcon{
    font-size: 34px   
}