.filter-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #E45A51;
    z-index: 9;
    position: fixed;
    top: 85px;
    background-color: white;
    width: 100vw;

}

.containerAll{
    
    margin-top: 360px;

}
.filterSearch{
    width: 300px;
    background-color: whitesmoke;
    border-radius: 6px;
    font-size: 14px;
    height: 36px;   
    z-index: 9;
    border-style: inherit;
    border-color: rgb(21, 128, 124);
    border-width: 3px;
    align-items: center
         
}

.filterBox{
    position: fixed;
    width: 100vw;
    margin-top: -50px;
    align-items: flex-start;
    display: flex;
    justify-content:center;
}
   
.filterSearch input{
    font-size: 14px;
    display: flex;
    align-items: flex-start;   
    display: flex;
    width: 100vw;
    align-items: center;
}


.filterIcon{
    font-size: 34px   
}