
.fixed-bottom{
    display: flex;
    position:fixed; bottom:0; left:0px;
    width:100%;
    height: 10vh;
    margin-top: auto;
    
    background-color: white;
    z-index: 999;
    align-items: center;
    justify-content: space-around;
    color: rgb(21, 128, 124);
}
.iconSize{
    font-size: 25px
}
