:root {
    --primary-bg: #242526;
    --secondary-bg: grey;
    --primary-text-color: #555;
    --secondary-text-color: #cecece;
    --border-radius: 8px;
    --speed: 500ms;
}
.nav-con{
    border: #242526 1px solid;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: sticky;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.menu-trigger{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.dropdown-menu{
    position: absolute;
    top:80px;
    right: 20px;
    background-color: grey;
    border-radius: var(--border-radius);
    padding: 5px;
    width: 170px;
}
.dropdown-menu::before{
    content: '';
    position: absolute;
    top:-5px;
    right: 4px;
    height: 15px;
    width: 15px;
    background: var(--secondary-bg);
    transform: rotate(45deg)
}
.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}
.dropdown-menu.inactive{
    opacity: 0;
    visibility: visible;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

.dropdown-menu ul li{
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.dropdown-menu ul li:hover div{
    color: aqua;
    cursor: pointer;
}
.dropdown-menu ul li:hover img{
    opacity: 1;
    cursor: pointer;
}
.dropdownItem {
    display: flex;
    margin-top: 10px auto;
}
.dropdownItem img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
}
.dropdownItem div{
    max-width: 250px;
    transition: var(--speed);
}