:root {
    --primary-bg:  rgb(109, 190, 187);
    --secondary-bg: rgb(67, 157, 154);
    --primary-text-color: rgb(21, 128, 124);
    --secondary-text-color: rgb(109, 190, 187);
    --border-radius: 8px;
    --speed: 500ms;
}

body{
    margin:0;
    padding:0;
    height:100%;  
}
header {
    min-height:100%;
    position: relative;

}
.nav-con{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: sticky; top:0px; left:0px;
    width:100%;
    background-color: white;
    z-index: 1000;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    
}
.menu-trigger{
    height: 35px;
    width: 35px;
    border-radius: 30%;
    overflow: hidden;
    cursor: pointer;
    color:  rgb(21, 128, 124);
    margin-right: 15px;
    margin-top: 7px;
}
.dropdown-menu{
    position: absolute;
    top:80px;
    right: 19px;
    background-color: var(--secondary-bg);
    border-radius: var(--border-radius);
    padding: 4px;
    width: 120px;
    color:aliceblue;
    font-size: 14px;
    font-weight: bold;   
}
.dropdown-menu::before{
    content: '';
    position: absolute;
    top:-5px;
    right: 5px;
    height: 15px;
    width: 15px;
    background: var(--secondary-bg);
    transform: rotate(45deg)
}
.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
 
    
}
.dropdown-menu.inactive{
    opacity: 0;
    visibility: visible;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

.dropdown-menu ul li{
    padding: 7px 0;
    
}
.dropdown-menu ul li:hover a{
    color: #E45A51;
    cursor: pointer;    
    font-weight: bold;     
}

.dropdownItem {
    display: flex;
    margin-top: 10px auto;
}

.dropdownItem a{
    max-width: 250px;
    transition: var(--speed);
}
.logoFooter{
    height: 65px;
    width: 80px;
    margin: 10px;
}
.linkCon{
    width: 100%;
}
.positionLink{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}