.iconVerification{
    width: 30px;
    height: 30px
}
.Review{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #E45A51;
    z-index: 9;
    /* position: fixed; */
    /* top: 85px; */
    background-color: white;
    /* width: 100vw; */
    /* flex-wrap: wrap; */
    /* align-items: stretch; */
    /* align-content: flex-end; */
    margin-top: 43px;
    font-size: 20px;
    margin-left: 40px;
}

#verificationPlace{
    margin-top: 10px
}

