.iconVerification{
    width: 30px;
    height: 30px;
}
.Review{
    display: flex;
    color: #E45A51;
    z-index: 9;
    text-align: center;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
   
}

.Review h3{
    font-size:20px;
    align-self: center;
    color:#E45A51;
    text-align: center;
    margin-top: 10px;
    font-weight:bold;
    margin-bottom:20px ;
}

#verificationPlace{
    margin-top: 10px
}

