.placeCard {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.placeCard h1 {
    font-size: 26px;
    align-self:center;
    color:#E45A51;
    font-weight: bold;
    display: flex;
    flex-direction: column;  
    align-items: center;
}
.placeCard h2 {
    font-size: 14px;
    color: rgb(21, 128, 124);
    font-size: italic
}

.placeCard h4 {
    font-size: 14px;
    color: rgb(21, 128, 124);
    font-size: italic
}

.placeCard p {
    font-size: 14px;
    color: rgb(21, 128, 124);
    font-size: italic
}


.placeCard button {
    border-radius: 20px;
  
}
.button-green {
    width: 20px;
    height: 20px;
    border: none;
    background-color: #5c9666;
}
.button-grey {
    width: 20px;
    height: 20px;
    border: none;
    background-color: #b4b8b5;
}
.buttonImages{
    display: flex;
}
#place {
    width: 300px;
    height: 200px;
}
.imagesDetails {
    display: flex;
    align-items: flex-start;
    margin-right: -25px;
}
.placeCard a {
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}
.verification {
    display: flex;
    box-shadow: 0.5rem 0.5rem #C3A05C, -0.5rem -0.5rem #ccc;
    border-style: solid;
    border-radius: 5px;
    border: groove;
    width: 274px;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-around;
}
.posted {
    display: flex;
    align-items: center;
}
.verifImage {
    width: 23px;
    margin: 14px;
}
.verificationYes {
    display: flex;
    align-items: center;
}
.verificationNo {
    display: flex;
    align-items: center;
}

.verification p {
    font-size: 18px;
    color:#E45A51;
    font-weight: bold;
}
.heart{
    width: 25px;
    margin-top: 10px;
    position: absolute;
}
.heartButton {
    border-style: none;
    background-color: white;
    padding: fit-content;
    background: none;
    margin-left: -47px;
}

.posted{
    font-size: 18px;
    color: rgb(21, 128, 124);
    font-size: bold
}

.card-reviews{
    font-size: 14px;
    align-self:center;
    color:#E45A51;
    font-size: bold;
    display: flex;
    flex-direction: column;  
    align-items: center;

}

.addReview{
    font-size:18px;
    align-self: center;
    color:#E45A51;
    font-size: bold;
    text-align: center;
    margin-top: 30px

}