.placeDetails {
    width: 100vw;
}

.placeDetails h1 {
    font-size: 12px;
}

.placeDetails h2 {
    font-size: 10px;
}

.placeDetails p {
    font-size: 10px;
}

.scroll-container {
    width: 100vw;

    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    display: flex;
}

.placeDetails button{
    border-radius: 20px;
}