p{
    font-size:16px;
    align-self: center;
    color:#E45A51;
    font-size: bold
}

.nameTitle{
    text-align: center;
    }
    
.next{
    margin-top: 200px;
    margin-left: 130px;
}

.previous{
    margin-top: 15px;
    margin-left: 115px;
}

   