.deleteButton{
    color:#E45A51; 
    margin-top: 20px;
    position:absolute;
    padding: fit-content;
    background: none;
    margin-left: -47px;  
   
}


.favorite h1 {
    font-size: 26px;
    align-self:center;
    color:#E45A51;
    font-weight: bold;
    display: flex;
    flex-direction: column;  
    align-items: center;
}

.favorite{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}
