body{
    margin: 0%
}
.info{
display: flex;
justify-content: center;
flex-direction: column;
margin-left: 50px;
margin-right: 50px;

}
.name{
 display:flex ;
 flex-direction:column;
 justify-content:space-between
}
.photo{
display:flex;
flex-direction: column;
justify-content: space-between;
margin-top: 20px;
}

.photoTitle{
text-align: center;
font-size:18px;
font-weight:bold;
align-self: left;
color:#E45A51;
margin-left: 20px;
}


.next{
    justify-content: flex-end; 
}
