.petprofile{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.everyPet{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%
  
}
.petito{
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    margin-left: 20px;
}
.petit{
    height: 70px;
    width: 90px;
    border-radius: 50%
}
.petButton{
    color: #E45A51;
}
.createLink{
    align-self: center;
    color:rgb(4, 95, 28);
    text-decoration: none;
    margin-top: 60px;
}

.designIcon{
    height: 50px;
    width: 50px;
}
body{
    height: 100%;
}

.petInfo{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    
}