.map-container {
    width: 200px;
    height: 200px;
}

.addplace-container{
    align-items:center;
    text-align: center;
}

.forms {
    text-align: center;
    margin-top: 30px;
}

.places-name {
    margin-left: 20px;
    margin-left: 20px;
}

h3{
    text-align: center;
}
    

   